.app-container {
  background-color: white;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  height: 100vh;
  position: relative; /* Add relative positioning for the pseudo-element */
}

.menu-container{
  flex: 0 0 180px; /* Adjust width as needed */
  background-color: lightblue;
}

.blank-space{
  margin-top: 100px;
}

.calendar-image{
  width: 100px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;  
  justify-content: center;
  align-items: center;

}

.menu {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
  height: 50px;
  background-color: skyblue;
  border: 2px solid white;
  border-radius: 50px;
  margin-bottom: 10px;
  width: 150px;
  align-content: center;
  font-weight: bold;
}


.menu:hover{
  background: rgb(108, 199, 235);
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative; /* Add relative positioning for the pseudo-element */
}

.chat-messages {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.user {
  background-color: #DCF8C6; /* Light green for user messages */
}

.chatbot {
  background-color: #F0F0F0; /* Light gray for chatbot messages */
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.input-container input {
  background-color: white;
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-container-button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: skyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.input-container-button:hover{
  background: rgb(108, 199, 235);
}

.example-options-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.option{
  cursor: pointer;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin: 0 auto;
  background-color: skyblue;
  border-radius: 20px;
  width: 150px;
  height: 100px;
}

.option:hover{
  background: rgb(108, 199, 235);
}